@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: 21, 27, 35; /* #151b23 */
  --card: 33, 40, 48;
  --border: 51, 59, 68;
  --foreground: 209, 215, 231;
  --danger: 229, 83, 75;
  --primary: 52, 125, 57;
  --test: rgb(21, 27, 35);
}

body {
  @apply bg-background text-foreground;
}
